/*Estilos generales*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    background-color: #1b1b32;
}

/*Estilos de la aplicación*/
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: "Lato", sans-serif;
    margin-top: 30px;
}

.logo-contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.logo{
    height: 120px;
    margin: 50px 0 0 20px ;
}

/*Letra personalizada*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

.titulo {

    font-size: 50px;
    color: #fff;
    font-family: 'Rubik Doodle Shadow', sans-serif;

}

.contenedor-principal{
    height: 320px;
    min-width: 400px;
}
